body{
    background-image: url('background.jpg');
    /* opacity: 0.5; */

}
.pot{
    background-color: white;
    margin: auto;
    width: 450px;
    height: 70%;
}
.sop{
    color: white;
    padding-top:80px;
    padding-bottom: 10px;
    text-align: center;
    height: 30%;
}
.sas{
    margin: 10px;
    padding: 10px;
    width: 50%;
}
input.lati{
    border: none;
    outline: none;
    border-bottom:1px solid lightgrey ;
    padding: 10px;       
    height: 3px;
    width: 370px;
}  

input.lati:focus {
    border-bottom: 2px solid blue;
    color: blueviolet;
}
input[type="submit"]{
    border: none;
    outline: none;
    margin: auto;
    width: 380px;
    padding: 30px;
    height: 75px;
    font-size: 20px;
    /* font-weight: 200px; */
    border-radius: 3px;
    background-color:rgb(255,0,0);
    color: white;
    text-align: center;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: cyan;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}